<!DOCTYPE html>
<html lang="en">
<head>
    <title>desmos api</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/desmos.js"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #calculator {
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        const server_url = `[[${server_url}]]`;
        const socket = new WebSocket(`${server_url}/desmos-websocket`);
    </script>
</head>
<body>
<div id="calculator"></div>
<!--temp-->
<div id="calc-result" style="display: none; width: 1000px; margin: 100px auto; text-align: center; font-size: 50px; border: 1px solid #ddd;"></div>
<button id="calcBtn" style="position: absolute; top: 100px; right: 100px; width:100px; height: 50px; z-index: 999">계산기</button>
<button id="graphBtn" style="position: absolute; top: 160px; right: 100px; width:100px; height: 50px; z-index: 999">그래프</button>
<script>

    // 연결이 열릴 때
    socket.addEventListener("open", (event) => {
        console.log("WebSocket 연결이 열렸습니다.");

        // 서버로 메시지 보내기
        socket.send("안녕하세요, 서버!");
    });

    // 메시지를 받았을 때
    socket.addEventListener("message", (event) => {
        console.log("서버로부터 메시지 받음:", event.data);
    });

    // 연결이 닫혔을 때
    socket.addEventListener("close", (event) => {
        console.log("WebSocket 연결이 닫혔습니다.");
    });
</script>

<script>
    const elt = document.getElementById('calculator');
    const calc_result = document.getElementById('calc-result');
    const calcBtn = document.getElementById('calcBtn');
    const graphBtn = document.getElementById('graphBtn');

    function waitForCondition(conditionFunction) {
        return new Promise(async resolve => {
            while (!conditionFunction()) {
                await new Promise(innerResolve => setTimeout(innerResolve, 100));
            }
            resolve();
        });
    }

    calcBtn.addEventListener('click', ()=>selectCalc("\\sqrt{2}"));
    graphBtn.addEventListener('click', ()=>Graphing("y=2x"));

    function selectCalc(latex) {
        // 계산기
        calc_result.style.display = '';
        const calculator = Desmos.GraphingCalculator();
        calculator.setExpression({id:1, latex:latex});

        waitForCondition(() => calculator.expressionAnalysis[1] !== undefined).then(() => {
            const result = calculator.expressionAnalysis[1];
            if(result.isError) {
                console.log("Error");
            }

            else {
                console.log(result.evaluation.value);       // calcalate 결과
                calc_result.textContent = result.evaluation.value;

                socket.send(result.evaluation.value);
            }

        });
    }

    function Graphing(latex) {
        // 그래프
        calc_result.style.display = '';
        const calculator = Desmos.GraphingCalculator(elt);
        calculator.setExpression({id:1, latex:latex});
        calculator.updateSettings({
            expressionsCollapsed: true
        });

    }






</script>


</body>
</html>